
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$line-height-base: 1.6;
$font-size-base: 1rem;

// Colours
$primary: #4a4;
$secondary: #a44;
$accent: #44a;

$toolbar-fixed-height: 55px;
$height-minus-toolbar: calc(100vh - 55px);
