@import 'variables';

html {
    overflow: hidden;
}

.homepage {

    .content {
        text-align: center;
    }

    .title {
        font-size: 84px;
    }

    .links .btn {
        padding: .5rem 1rem;
        margin: .5rem;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
    }

    .m-b-md {
        margin-bottom: 30px;
    }
}


.content-container {
    flex-wrap: nowrap;
    height: 100vh;

    .toolbar {
        background-color: $secondary;
        color: white;
        height: $toolbar-fixed-height;
        font-weight: 700;
        flex-shrink: 0;
    }

    .messages-container {
        align-items: flex-start;
        overflow-y: scroll;
        height: 100%;
        max-height: calc(100vh - 110px);

        .message-wrapper {
            padding: .5rem 1rem;
            max-width: 50%;

            .message {
                background-color: #eee;
                color: black;
                padding: .5rem;
                border-radius: 1rem;

                .text {
                    font-weight: 700;
                }
            }

            &.me {
                align-self: flex-end;

                .message {
                    background-color: #4cc34a;
                    color: white;
                }

                .sender {
                    text-align: right;
                }
            }

            .sent, .sender {
                font-size: .8rem;
            }
        }
    }

    .input-container {
        flex-shrink: 0;

        .chat-input {
            margin: .5rem;
            width: calc(100% - 1rem);
        }
    }
}

