
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    background-color: $body-bg;
    color: #636b6f;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-column, [flex-column] {
    display: flex;
    flex-direction: column;
}

.flex, [flex] {
    flex: 1;
}

.flex-center, [flex-center] {
    align-items: center;
    display: flex;
    justify-content: center;
}

.flex-row, [flex-row] {
    display: flex;
    flex-direction: row;
}

.justify-center, [justify-center] {
    justify-content: center;
}

.space-around, [space-around] {
    justify-content: space-around;
}

.space-between, [space-between] {
    justify-content: space-between;
}

.flex-end, [flex-end] {
    justify-content: flex-end;
}

.flex-start, [flex-start] {
    justify-content: flex-start;
}

.relative {
    position: relative;
}

.pa-0, [pa-0] {
    padding: 0;
}
.pa-1, [pa-1], .px-1, [px-1], .py-1, [py-1] {
    padding: .5rem;
}
.pa-2, [pa-2], .px-2, [px-2], .py-2, [py-2]  {
    padding: 1rem;
}
.pa-3, [pa-3], .px-3, [px-3], .py-3, [py-3]  {
    padding: 1.5rem;
}
.pa-4, [pa-4], .px-4, [px-4], .py-4, [py-4]  {
    padding: 2rem;
}

[class^="px-"], [class*=" px-"], [px-1], [px-2], [px-3], [px-4] {
    padding-top: 0;
    padding-bottom: 0;
}

[class^="py-"], [class*=" py-"], [py-1], [py-2], [py-3], [py-4] {
    padding-left: 0;
    padding-right: 0;
}

.ma-0, [ma-0] {
    margin: 0;
}
.ma-1, [ma-1], .mx-1, [mx-1], .my-1, [my-1] {
    margin: .5rem;
}
.ma-2, [ma-2], .mx-2, [mx-2], .my-2, [my-2]  {
    margin: 1rem;
}
.ma-3, [ma-3], .mx-3, [mx-3], .my-3, [my-3]  {
    margin: 1.5rem;
}
.ma-4, [ma-4], .mx-4, [mx-4], .my-4, [my-4]  {
    margin: 2rem;
}

[class^="mx-"], [class*=" mx-"], [mx-1], [mx-2], [mx-3], [mx-4] {
    margin-top: 0;
    margin-bottom: 0;
}

[class^="my-"], [class*=" my-"], [my-1], [my-2], [my-3], [my-4] {
    margin-left: 0;
    margin-right: 0;
}

// .content {
//     text-align: center;
// }

.title {
    font-size: 84px;
}

